/* contains styles for html elements like body, h1, ... */

body {
  background-color: $backgroundColor;
  color: $textColor;
}

a { 
  color: $primaryColor;
  &:hover {
    color: $primaryColorHover;
  }
}

input, textarea, select { border: $inputBorder; }
