// Inverted Triangle CSS https://journal.highlandsolutions.com/a-primer-to-well-structured-css-96ce61b184f6
// only put general stuff here, all the other stuff goes in vue components

// SETTINGS (COLORS, MARGINS, ETC.)

@import '@/scss/variables.scss';

// TOOLS (MIXINS AND FUNCTIONS)


// GENERICS (RESET AND NORMALIZE STYLES)
html, body { font-size: 14px; }
html, body, #app { height: 100%; }

h1 {
  font-size: $fontSize * 1.5;
}


// ELEMENTS (DEFAULT STYLES)
body {
  background-color: $backgroundColor;
  color: $textColor;
}

a { 
  color: $primaryColor;
  &:hover {
    color: $primaryColorHover;
  }
}

input, textarea, select { border: $inputBorder; }

// OBJECTS (BOOTSTRAP)

// buttons

.btn {
  &.btn-primary {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: #FFFFFF;
  
    &:hover { 
      background-color: $primaryColorHover;
      border-color: $primaryColorHover;
    }
  }
  
  &.btn-secondary {
    background-color: $secondaryColor;
    border-color: $secondaryColor;
  }
}


// alerts
.alert { 
  border-radius: 0;
  border: 0;
  padding: $paddingDefault;
  
  &.alert-warning {
    border-left: 5px solid #ffe181;
  }
}


// badges
.badge { 
  padding: 0.4rem .5rem;

  &.badge-primary {
    background-color: $primaryColor;
  }

  &.badge-secondary {
    background-color: $secondaryColor;
  }
}


// lists
.list-group { 
  box-shadow: $defaultShadow;
}


// tabs
.tabs {
  .nav-tabs .nav-link { 
    padding: $paddingSmall;
  }
  
  .tab-content { 
    margin-bottom: $marginDefault;
  }
}


// input
.custom-file-input ~.custom-file-label::after {
    content: none !important;
}

.custom-file { display: none !important; }


// card
.card {
  box-shadow: $defaultShadow;

  .tabs .card-header-tabs {
    margin-top: -0.75rem;
  }

  .card-link {
    margin-top: auto;
  }

  >.card-body {
    display: flex;
    flex-direction: column;

    >.card-title .badge { font-size: 0.8rem; }

    >.card-title {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    >.card-links {
      margin-top: auto;

      a:first-child { padding-left: 0; }
    }
  }
}


// COMPONENTS (CROSS COMPONENT STYLES)

.no-icon { padding-left: 2.7rem !important; }

.options_dropdown > button {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
  border-radius: 0.25rem !important;
}

@media(max-width: 425px) {
  .choices .image-container,
  .labels .image-container,
  .items .image-container {
    width: 50%;
    margin: 0 auto;
  }
}

.list-options { margin-bottom: 2rem; }

.search-form input { background-clip: border-box; border: 0; }


// UTILITIES
.align-center { display: flex; align-items: center; }
