/* contains styles for html elements like body, h1, ... */

html { font-size: 14px; }
html, body, #app { height: 100%; }

body {
  background-color: $backgroundColor;
  color: $textColor;
  font-size: 14px;
}

a { color: $primaryColor; }

input, textarea, select { border: 1px solid #cbd5dd; }
