// background
$backgroundColor: #eef1f5;

// text
$textColor: #53505f;
$primaryColor: #db5031;
$primaryColorHover: #ce4c2f;

$secondaryColor: #41474e;
$secondaryColorHover: #232629;

$borderColor: #e5e9ec;

// margin
$marginSmall: 1rem;
$marginDefault: 1.5rem;

// padding
$paddingSmall: 1rem;
$paddingDefault: 1.5rem;

// shadows
$defaultShadow: 0 1px 3px 0px rgba(115, 108, 203, 0.13);

// input
$inputBorder: 1px solid #cbd5dd;


$fontSize: 14px;